<ion-header>
  <ion-toolbar color = "blue">
    <ion-title>¡Para mi!</ion-title>
    <ion-button class = "button" slot="end" (click)="returnhome()" color = #0069a6> 
    <ion-icon slot="icon-only" name="home-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="{check:Protection(dataPass)}">

  <div *ngIf="noRiesgo">
    <div class = "title">
      <ion-label class = "title" undefined> En este momento no hay riesgo</ion-label>
    </div>
    <ion-grid>
      <ion-row> 
        <ion-col size = "3" class="icon" >
          <img class="icon" src="../assets/img/protector-final.png"  width="70" height="70" >
        </ion-col>
        <ion-col size = "9" class = "legend">
          <ion-label class = "legend">¡Recuerda usar tu protector solar!</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "3" class="icon">
          <img  src="../assets/img/escudo-final.png"  width="75" height="75" >
        </ion-col>
        <ion-col size = "8.5" class = "legend">
          <ion-label>Así tu piel estará protegida por: {{timeConvert(DEM)}}.</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <div *ngIf="bajo">
    <div class = "title">
      <ion-label class = "title" undefined> ¡No olvides protegerte!</ion-label>
    </div>
    <div class = "subtitle">
      <ion-label undefined> En este momento el índice UV indica: </ion-label>
      <ion-label id = "uv" undefined> ¡Bajo!</ion-label>
    </div>
    <ion-grid>
      <ion-row> 
        <ion-col size = "3" class="icon" >
          <img class="icon" src="../assets/img/protector-final.png"  width="70" height="70" >
        </ion-col>
        <ion-col size = "9" class = "legend">
          <ion-label class = "legend">¡Recuerda usar tu protector solar!</ion-label>
        </ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size = "3" class="icon">
          <img  src="../assets/img/escudo-final.png"  width="75" height="75" >
        </ion-col>
        <ion-col size = "8.5" class = "legend">
          <ion-label  >Así tu piel estará protegida por: {{timeConvert(DEM)}}.</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class = "title">
      <ion-label undefined> ¡Sácale provecho a tus accesorios! </ion-label>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size = "3" class="icon" >
          <img src="../assets/img/gafas-final.png"  width="70" height="70"  >
        </ion-col>
        <ion-col size = "8.5" class = "legend2">
          <ion-label> A lucir esas gafas de sol. Además de cuidar tus ojos, tendrás un estilo más auténtico y rockero. </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </div>
  
  <div *ngIf="moderado">
    <div class = "title">
      <ion-label class = "title" undefined> ¡No olvides protegerte!</ion-label>
    </div>
    <div class = "subtitle">
      <ion-label undefined> En este momento el índice UV indica: </ion-label>
      <ion-label id = "uv" undefined> ¡Moderado!</ion-label>
    </div>
    <ion-grid>
      <ion-row> 
        <ion-col size = "3" class="icon" >
          <img class="icon" src="../assets/img/protector-final.png"  width="70" height="70"  >
        </ion-col>
        <ion-col size = "9" class = "legend">
          <ion-label class = "legend">¡Recuerda usar tu protector solar!</ion-label>
        </ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size = "3" class="icon">
          <img  src="../assets/img/escudo-final.png"  width="75" height="75" >
        </ion-col>
        <ion-col size = "8.5" class = "legend">
          <ion-label  >Así tu piel estará protegida por: {{timeConvert(DEM)}}.</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class = "title">
      <ion-label undefined> ¡Sácale provecho a tus accesorios! </ion-label>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size = "3" class="icon" >
          <img src="../assets/img/gafas-final.png"  width="70" height="70"  >
        </ion-col>
        <ion-col size = "8.5" class = "legend2">
          <ion-label  >A lucir esas gafas de sol. Además de cuidar tus ojos, tendrás un estilo más auténtico y rockero.</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "3" class="icon" >
          <img src="../assets/img/gorra-final.png" width="70" height="70"  >
        </ion-col>
        <ion-col size = "8.5" class = "legend2">
          <ion-label  > Usa Tu gorra, sombrero o pava favorita. No olvides que además de cuidarte, ¡sirven para complementar tu look! </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </div>

       

  
  <div *ngIf="alto">
    <div class = "title">
    <ion-label class = "title" undefined> ¡No olvides protegerte!</ion-label></div>
    <div class = "subtitle">
      <ion-label undefined> En este momento el índice UV indica: </ion-label>
      <ion-label id = "uv" undefined> ¡Alto!</ion-label>
    </div>
    <ion-grid>
      <ion-row> 
        <ion-col size = "3" class="icon" >
          <img class="icon" src="../assets/img/protector-final.png"  width="70" height="70"  >
        </ion-col>
        <ion-col size = "9" class = "legend">
          <ion-label class = "legend">¡Recuerda usar tu protector solar!</ion-label>
        </ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size = "3" class="icon">
          <img  src="../assets/img/escudo-final.png"  width="75" height="75" >
        </ion-col>
        <ion-col size = "8.5" class = "legend">
          <ion-label  >Así tu piel estará protegida por: {{timeConvert(DEM)}}.</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class = "title">
      <ion-label undefined> ¡Sácale provecho a tus accesorios! </ion-label>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size = "3" class="icon" >
          <img src="../assets/img/gafas-final.png"  width="70" height="70"  >
        </ion-col>
        <ion-col size = "8.5" class = "legend2">
          <ion-label  >A lucir esas gafas de sol. Además de cuidar tus ojos, tendrás un estilo más auténtico y rockero.</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "3" class="icon" >
          <img src="../assets/img/gorra-final.png" width="70" height="70"  >
        </ion-col>
        <ion-col size = "8.5" class = "legend2">
          <ion-label  > Usa Tu gorra, sombrero o pava favorita. No olvides que además de cuidarte, ¡sirven para complementar tu look! No olvides que además de cuidarte, ¡sirven para complementar tu look! </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "3" class="icon" >
          <img src="../assets/img/chaqueta-final.png" width="70" height="70"  >
        </ion-col>
        <ion-col size = "8.5" class = "legend2">
          <ion-label>¡No te olvides de tus manos, brazo y pies! Un saco, blazer o chaqueta pueden ayudar a cuidarte, si hace mucho calor, ¡elige una prenda ligera o de algodón!! </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </div>
    
  
  <div *ngIf="muyAlto">
    <div class = "title">
      <ion-label class = "title" undefined> ¡No olvides protegerte!</ion-label>
    </div>
    <div class = "subtitle">
      <ion-label undefined> En este momento el índice UV indica: </ion-label>
      <ion-label id = "uv" undefined> ¡Muy Alto!</ion-label>
    </div>
    <ion-grid>
      <ion-row> 
        <ion-col size = "3" class="icon" >
          <img class="icon" src="../assets/img/protector-final.png"  width="70" height="70"  >
        </ion-col>
        <ion-col size = "9" class = "legend">
          <ion-label class = "legend">¡Recuerda usar tu protector solar!</ion-label>
        </ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size = "3" class="icon">
          <img  src="../assets/img/escudo-final.png"  width="70" height="70"  >
        </ion-col>
        <ion-col size = "8.5" class = "legend">
          <ion-label  >Así tu piel estará protegida por: {{timeConvert(DEM)}}.</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "3" class="icon" >
          <img src="../assets/img/sombrilla-final.png" width="70" height="70" >
        </ion-col>
        <ion-col size = "9" class = "legend">
          <ion-label > Evita exponerte al sol entre las 12:00 - 16:00 H.</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class = "title">
      <ion-label undefined> ¡Sácale provecho a tus accesorios! </ion-label>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size = "3" class="icon" >
          <img src="../assets/img/gafas-final.png"  width="70" height="70"  >
        </ion-col>
        <ion-col size = "8.5" class = "legend2">
          <ion-label >A lucir esas gafas de sol. Además de cuidar tus ojos, tendrás un estilo más auténtico y rockero.</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "3" class="icon" >
          <img src="../assets/img/gorra-final.png"  width="70" height="70"  >
        </ion-col>
        <ion-col size = "8.5" class = "legend2">
          <ion-label  > Usa Tu gorra, sombrero o pava favorita. No olvides que además de cuidarte, ¡sirven para complementar tu look! </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "3" class="icon" >
          <img src="../assets/img/chaqueta-final.png"  width="70" height="70"  >
        </ion-col>
        <ion-col size = "8.5" class = "legend2">
          <ion-label > ¡¡No te olvides de tus manos, brazo y pies! Un saco, blazer o chaqueta pueden ayudar a cuidarte, si hace mucho calor, ¡elige una prenda ligera o de algodón!! </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </div>
  
  <div *ngIf="extremo">
    <div class = "title">
      <ion-label undefined> ¡No olvides protegerte!</ion-label>
    </div>
    <div class = "subtitle">
      <ion-label undefined> En este momento el índice UV indica: </ion-label>
      <ion-label id = "uv" undefined> ¡Extremo!</ion-label>
    </div>
    <ion-grid>
      <ion-row> 
        <ion-col size = "3" class="icon" >
          <img class="icon" src="../assets/img/protector-final.png"  width="70" height="70"  >
        </ion-col>
        <ion-col size = "9" class = "legend">
          <ion-label class = "legend">¡Recuerda usar tu protector solar!</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "3" class="icon">
          <img  src="../assets/img/escudo-final.png"  width="75" height="75" >
        </ion-col>
        <ion-col size = "8.5" class = "legend" >
          <ion-label >Así tu piel estará protegida por: {{timeConvert(DEM)}}..</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "3" class="icon" >
          <img src="../assets/img/casa-final.png"  width="70" height="70"  >
        </ion-col>
        <ion-col size = "9" class = "legend2">
          <ion-label> Sí puedes, quédate en casa, evita la exposición directa al sol, y si es necesario estar fuera, no olvides protegerte. </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
  
