ion-content{
    --ion-background-color:#AAD9FF; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ion-toolbar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #0073b5;
    font-weight: 300;
}

.button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
     
}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px 10px 15px 15px;
    text-align: left;
    font-weight: 300;
}
.title1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 550;
}

.icon{
    margin: 17px 15px 10px 15px;
    position: absolute;
}
.card1{
    width: 30%;
    background: #6AE240 ;
    border-radius: 10px;
    margin: 8px 5px 8px 10px;
}
.card2{
    width: 40%;
    background: #FBFF00 ;
    border-radius: 10px;
    margin: 8px 5px 8px 10px;
}

.card3{
    width: 60%;
    background: #FFA529  ;
    border-radius: 10px;
    margin: 8px 5px 8px 10px;
}
.card4{
    width: 80%;
    background: #FF2F16 ;
    border-radius: 10px;
    margin: 8px 5px 8px 10px;
}

.card5{
    width: 95%;
    background: #AA55F8  ;
    border-radius: 10px;
    margin: 8px 5px 8px 10px;
}

.card6{
    width: 98%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 8px 5px 8px 10px;
}
