<ion-header>
  <ion-toolbar color="blue">
    <ion-title>Edita tú perfil</ion-title>
    <ion-button slot="end" (click)="returnhome()" color=#0073b5>
      <ion-icon slot="icon-only" name="home-outline"></ion-icon></ion-button> 
  </ion-toolbar>
</ion-header>
<ion-content padding>
<br>
  <!--app-loading *ngIf="busy"></app-loading-->
  <div *ngIf="!busy">
    <div class="profile-info">
      <ion-item color="light">
				<ion-label class = "selecciona" position="floating">Nombre</ion-label>
				<ion-input class = "selecciona" [(ngModel)]="name"></ion-input>
      </ion-item>
      <br>
			<ion-item color="light">
				<ion-label class = "selecciona" position="floating">Email</ion-label>
				<ion-input class = "selecciona" [(ngModel)]="email"></ion-input>
      </ion-item>
      <br>
			<ion-item color="light">
        <ion-label class = "selecciona" position="floating">SPF</ion-label>
        <ion-select class = "selecciona" color = black placeholder="Selecciona tu SPF" color="dark" [(ngModel)]="spf">
          <ion-select-option value=0> 0</ion-select-option>
          <ion-select-option value=10 >10</ion-select-option>
          <ion-select-option value=20 >20</ion-select-option>
          <ion-select-option value=30 >30</ion-select-option>
          <ion-select-option value=40 >40</ion-select-option>
          <ion-select-option value=50 >50</ion-select-option>
          <ion-select-option value=60 >60</ion-select-option>
          <ion-select-option value=70 >70</ion-select-option>
          <ion-select-option value=80 >80</ion-select-option>
          <ion-select-option value=90 >90</ion-select-option>
          <ion-select-option value=100 >100</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
			<ion-item color="light">
				<ion-label class = "selecciona" position="floating">Nueva contraseña</ion-label>
				<ion-input class = "selecciona" [(ngModel)]="newpassword"></ion-input>
      </ion-item>
      <br>
			<ion-item color="light">
				<ion-label class = "selecciona" position="floating">Ingresa tu contraseña actual</ion-label>
				<ion-input class = "selecciona" required [(ngModel)]="password"></ion-input>
      </ion-item>
      <br>
      <ion-button fill="solid" expand="block" class ="button1" color="blue" (click)="updateDetails()">GUARDAR</ion-button>
      <ion-button fill="outline" expand="block" class ="button2" fill="white" color="dark" (click)="returnprofile()">Regresar al Perfil</ion-button>     
    </div>
  </div>
</ion-content>