<ion-header>
  <ion-toolbar>
    <ion-title>Edita tu perfil</ion-title>
    <ion-button slot="end" (click)="returnhome()" fill="white" color="white">
      <ion-icon slot="icon-only" name="home-outline"></ion-icon></ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--app-loading *ngIf="busy"></app-loading-->
  <div *ngIf="!busy">
    <div class="profile-info">
			<ion-item>
				<ion-label position="floating">Email</ion-label>
				<ion-input [(ngModel)]="email"></ion-input>
      </ion-item>

			<ion-item>
				<ion-label position="floating">Nombre</ion-label>
				<ion-input [(ngModel)]="name"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="floating">New Password?</ion-label>
				<ion-input [(ngModel)]="newpassword"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="floating">Enter old password</ion-label>
				<ion-input [(ngModel)]="password"></ion-input>
			</ion-item>

			<ion-button fill="solid" expand="block" color="dark" (click)="updateDetails()">Save</ion-button>
		</div>
  </div>

</ion-content>
