ion-content{
  --ion-background-color: #AAD9FF; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ion-toolbar{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #0073b5;
  font-size: 1.5em;
} 
.registertext {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(1, 9, 27);
  font-size: 1em;
  text-align: center;
  font-weight: 450
}
.ion-margin-top{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  font-size: 1em;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #0073b5;
}
ion-input{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tipo{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: large;
  font-weight: 500;
}
ion-item{
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  
.label1 {
    color: rgb(32, 28, 28);
  }
.items {
    color: rgb(255, 255, 255);
  }