<ion-header>
  <ion-button (click)="dismissModal()"> Cerrar
  </ion-button>
</ion-header>
<ion-content>
  <ion-card class="card" color="light">
    <!-- <img src = './am_at.jpg'/> No carga la imagen, xq?-->
    <ion-card-subtitle>¿Sabías qué?</ion-card-subtitle>
    <ion-card-content>
      Entre las 10:00 a.m. y las 4:00 p.m., los rayos UV son más intensos.
      <img src = './camiseta.png' alt = " ">
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¿Sabías qué?</ion-card-subtitle>
    <ion-card-content>
      Aún en días nublados los rayos UV pueden llegar al suelo.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¿Sabías qué?</ion-card-subtitle>
    <ion-card-content>
      La vitamina D ofrece muchos beneficios para la salud –incluido reducir riesgos de algunos cánceres- y el cuerpo la produce naturalmente cuando se expone al sol. Aunque ¡Ojo! Hay muchos factores que influyen: edad, color de piel, intensidad de la luz solar, por ejemplo.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>Tú seguridad Primero!</ion-card-subtitle>
    <ion-card-content>
      Intenta obtener la vitamina D de alimentos o suplementos vitamínicos, de esta forma no aumentarás el riesgo de cáncer de piel. 
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>Tú seguridad Primero!</ion-card-subtitle>
    <ion-card-content>
      Si no estás seguro/a de la intensidad de los rayos del sol, haz la prueba de la sombra: si la sombra es más pequeña que tú es momento de que protejas.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>Atención!</ion-card-subtitle>
    <ion-card-content>
      Ten precaución en la playa o zonas con nieve, la arena, el agua y la nieve aumentan la cantidad de radiación UV que recibes.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>Tú seguridad Primero!</ion-card-subtitle>
    <ion-card-content>
      Incluso bajo el agua podrás quemarte, pues sigues recibiendo rayos UV que atraviesan la superficie del agua.S
    </ion-card-content>
  </ion-card>
</ion-content>
