ion-content{
    --ion-background-color:#AAD9FF; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button1{
    width: 85%;
    margin: 1.5% 8% 1.5% 8%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00002e;
}
