<ion-header>
  <ion-toolbar>
    <ion-title>Para tus ojos</ion-title>
    <ion-button slot="end" (click)="dismissModal()" fill="white" color="white"> Cerrar</ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¿Sabías qué?</ion-card-subtitle>
    <ion-card-content>
      Pasar largas horas en el sol sin proteger sus ojos aumenta tus probabilidades de desarrollar ciertas enfermedades de los ojos!.  
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle> Sin lentes de protección.</ion-card-subtitle>
    <img class = "img" src = '../assets/img/sin_lente.PNG'> 
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¡Atención!</ion-card-subtitle>
    <ion-card-content>
      Para saber que lentes debes comprar: ¡revisa la etiqueta! Recuerda: los lentes deben bloquear entre el 99 y 100% de los rayos UVA y UBV.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle> Con lentes de protección.</ion-card-subtitle>
    <img class = "img" src = '../assets/img/proteccion.PNG'> 
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¡Atención!</ion-card-subtitle>
    <ion-card-content>
      Busca etiquetas como las siguientes: “UV absorption up to 400 nm” o “Meets ANSI UV Requirements”, esto significa que los lentes bloquean por lo menos el 99% de los rayos UV.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¿Sabías qué?</ion-card-subtitle>
    <ion-card-content>
      Aquellos cuya etiqueta indica que son de uso “cosmético” bloquean alrededor del 70% de los rayos UV. 
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle> Con lentes cosméticos.</ion-card-subtitle>
    <img class = "img" src = '../assets/img/cosmetico.PNG'> 
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¿Sabías qué?</ion-card-subtitle>
    <ion-card-content>
      ¡En los lentes, más oscuridad no implica mayor protección! La protección para estos rayos se obtiene con productos que se adicionan al lente. Pregunta por ello.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¿Sabías qué?!</ion-card-subtitle>
    <ion-card-content>
      Si prefieres los lentes de contacto, debes saber que también pueden ofrecer protección para los rayos UV. Cuando vayas a comprarlos, pregunta por esto. 
    </ion-card-content>
  </ion-card>
  </ion-content>
