<ion-header>
  <ion-toolbar color = "blue">
    <ion-title>Aplicación del Protector Solar</ion-title>
    <ion-button class="button" slot="end" (click)="dismissModal()" color = #0069a6> X </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¿Sabías qué?</ion-card-subtitle>
    <ion-card-content>
      Cuando apliques tu bloqueador presta mucha atención a tu cara, orejas, cuello, brazos, y cualquier otra área del cuerpo que no esté cubierta por ropa. 
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <img class = "img" src = '../assets/img/aplicacion.PNG'>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¿Sabías qué?</ion-card-subtitle>
    <ion-card-content>
      Se recomienda llenar la palma de la mano con el protector solar en crema, esto basta para cubrir los brazos, las piernas, el cuello y la cara de un adulto promedio.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¡Importante!</ion-card-subtitle>
    <ion-card-content>
      La aplicación depende de muchos factores: SPF, tipo de piel, exposición e intensidad de rayos UV, es por esto que ¡existe UV SAFETY!. Pero no está demás que sepas: por norma general, Los bloqueadores solares deben reaplicarse al menos cada dos horas para mantener la protección.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¡Importante!</ion-card-subtitle>
    <ion-card-content>
      Si realizas actividades deportivas mientras te expones al sol, busca bloqueadores aprueba de agua, de lo contrario, tu bloqueador regular puede perder eficacia bajo estas condiciones. 
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <img class = "img" src = '../assets/img/aprueba_agua.PNG'>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¡Importante!</ion-card-subtitle>
    <ion-card-content>
      Si tu bloqueador es aprueba de agua, fíjate bien en la indicación del tiempo de protección para que sepas cada cuanto deberás aplicarlo, así como las instrucciones para su correcta aplicación.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¿Sabías qué?</ion-card-subtitle>
    <ion-card-content>
      Tus labios también necesitan ser protegidos: existen bálsamos labiales con protección solar. Muchos otros cosméticos también presentan protección, siempre verifica con la etiqueta
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <img class = "img1" src = '../assets/img/cosmeticos.PNG'>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¡Importante!</ion-card-subtitle>
    <ion-card-content>
      Si tu piel es sensible o sueles presentar alergias, verifica con tu dermatólogo que bloqueador te será más favorable, porque algunos productos con bloqueador solar pueden irritar la piel.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¡Importante!</ion-card-subtitle>
    <ion-card-content>
      Muchos productos afirman ser hipoalergénicos o que son avalados por pruebas dermatológicas, pero la única forma de saber si un producto irritará su piel es probándolo.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <img class = "img" src = '../assets/img/alergias.PNG'>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-subtitle>¡Importante!</ion-card-subtitle>
    <ion-card-content>
      Una recomendación común es aplicar una pequeña cantidad en la piel interna del codo (donde se flexiona) por 3 días consecutivos. Si su piel no se enrojece ni presenta sensibilidad o picazón, el producto puede que sea adecuado para ti. 
    </ion-card-content>
  </ion-card>
</ion-content>