<ion-app>
  <ion-header>
    <ion-toolbar color = blue>
      <ion-title>Tu perfil</ion-title>
      <ion-button slot="end" (click)="returnhome()"  color = #0073b5> 
        <ion-icon slot="icon-only" name="home-outline"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list color="primary">
      <h5 class="notificacion1" color="blue">Aquí puedes ver tus datos</h5>
      <h5 class = "subtitle" >Nombres y apellidos</h5>
      <ion-item color="light" *ngIf="name" class = "item"> 
        <ion-label class = "datos"> {{ name }} </ion-label>      
      </ion-item>
      <h5 class = "subtitle">Correo electrónico</h5>
      <ion-item  color="light" *ngIf="email" > 
        <ion-label class = "datos">{{ email }}</ion-label>
      </ion-item>
      <h5 class = "subtitle">Tipo de Piel</h5>
      <ion-item color="light"> 
        <ion-label *ngIf="skin == 'uno' " class = "datos">I: Siempre se quema.</ion-label>
        <ion-label *ngIf="skin == 'dos' " class = "datos">II: Siempre se quema, puede broncearse.</ion-label>
        <ion-label *ngIf="skin == 'tres' " class = "datos">III: Puede quemarse y broncearse.</ion-label>
        <ion-label *ngIf="skin == 'cuatro' " class = "datos">IV: Puede quemarse, siempre broncea.</ion-label>
        <ion-label *ngIf="skin == 'cinco' " class = "datos">V: Broncea con intensidad.</ion-label>
        <ion-label *ngIf="skin == 'seis' " class = "datos">VI: Siempre se broncea. </ion-label>
      </ion-item>
      <h5 class = "subtitle">Factor de su protector solar</h5>
      <ion-item color="light"> 
        <ion-label *ngIf="spf == 0 " class = "datos">SPF: 0 </ion-label>
        <ion-label *ngIf="spf == 10 " class = "datos">SPF: 10 </ion-label>
        <ion-label *ngIf="spf == 20 " class = "datos">SPF: 20</ion-label>
        <ion-label *ngIf="spf == 30 " class = "datos">SPF: 30</ion-label>
        <ion-label *ngIf="spf == 40 " class = "datos">SPF: 40</ion-label>
        <ion-label *ngIf="spf == 50 " class = "datos">SPF: 50</ion-label>
        <ion-label *ngIf="spf == 60 " class = "datos">SPF: 60</ion-label>
        <ion-label *ngIf="spf == 70 " class = "datos">SPF: 70</ion-label>
        <ion-label *ngIf="spf == 80 " class = "datos">SPF: 80</ion-label>
        <ion-label *ngIf="spf == 90 " class = "datos">SPF: 90</ion-label>
        <ion-label *ngIf="spf == 100 " class = "datos">SPF: 100</ion-label>
      </ion-item>
      <h5 class = "subtitle">Género</h5>
      <ion-item color="light" > 
        <ion-label *ngIf="gender == 'm' " class = "datos">Mujer</ion-label>
        <ion-label *ngIf="gender == 'h' " class = "datos">Hombre</ion-label>
      </ion-item>
      <h5 class = "subtitle">Fecha de nacimiento</h5>
      <ion-item color="light" > 
        <ion-label class = "datos">{{ birthdate}}</ion-label>
      </ion-item>
    </ion-list>
    <h5 class = "notificacion1">Configuración de Notificaciones</h5>
    <ion-list >
      <ion-item >
        <ion-label class = "notificacion"> Protector solar</ion-label>
        <ion-toggle (ionChange)="SolarProtNotifications()" ></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label class = "notificacion"> Cuidados personales </ion-label>
        <ion-toggle (ionChange)="CuidadosPersonalesNotifications()"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-button expand= "block" class = "button1" color=blue (click)="openEditProfile()" >Editar Perfil</ion-button>
    <ion-button expand="block" class="buttoncolor" fill="outline" (click)="Onlogout()" fill="white" color="dark">Cerrar sesión</ion-button>
  </ion-content>
</ion-app>