<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Tu perfil</ion-title>
      <ion-button slot="end" (click)="returnhome()" fill="white" color="white"> 
        <ion-icon slot="icon-only" name="home-outline"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <br>
    <ion-list color="primary">
      <ion-list-header  color="dark">Aquí puedes ver tus datos</ion-list-header>
      <ion-item color="dark" *ngIf="name" > 
        <ion-label>Nombre: {{ name }}</ion-label>
      </ion-item>

      <ion-item  color="dark" *ngIf="email" > 
        <ion-label>Correo electrónico: {{ email }}</ion-label>
      </ion-item>

      <ion-item color="dark"> 
        <ion-label *ngIf="skin == 'uno' ">Tipo de piel: Blanca, con muchas pecas</ion-label>
        <ion-label *ngIf="skin == 'dos' ">Tipo de piel: Blanca</ion-label>
        <ion-label *ngIf="skin == 'tres' ">Tipo de piel: Blanca, con mínima tonalidad marrón</ion-label>
        <ion-label *ngIf="skin == 'cuatro' ">Tipo de piel: Marrón, de tonalidad intermedia</ion-label>
        <ion-label *ngIf="skin == 'cinco' ">Tipo de piel: Marrón intenso</ion-label>
        <ion-label *ngIf="skin == 'seis' ">Tipo de piel: Negra, tonalidad intensa</ion-label>
      </ion-item>
      <ion-item color="dark"> 
        <ion-label *ngIf="spf == 0 ">SPF: 0 </ion-label>
        <ion-label *ngIf="spf == 10 ">SPF: 10 </ion-label>
        <ion-label *ngIf="spf == 20 ">SPF: 20</ion-label>
        <ion-label *ngIf="spf == 30 ">SPF: 30</ion-label>
        <ion-label *ngIf="spf == 40 ">SPF: 40</ion-label>
        <ion-label *ngIf="spf == 50 ">SPF: 50</ion-label>
        <ion-label *ngIf="spf == 60 ">SPF: 60</ion-label>
        <ion-label *ngIf="spf == 70 ">SPF: 70</ion-label>
        <ion-label *ngIf="spf == 80 ">SPF: 80</ion-label>
        <ion-label *ngIf="spf == 90 ">SPF: 90</ion-label>
        <ion-label *ngIf="spf == 100 ">SPF: 100</ion-label>
      </ion-item>
      <ion-item color="dark"> 
        <ion-label *ngIf="gender == 'm' ">Género: Mujer</ion-label>
        <ion-label *ngIf="gender == 'h' ">Género: Hombre</ion-label>
      </ion-item>
      <ion-item color="dark"> 
        <ion-label>Fecha de nacimiento: {{ birthdate}}</ion-label>
      </ion-item>
    </ion-list>
    <br>
    <br>
    <ion-label>Notificaciones</ion-label>
    <ion-list>
      <ion-item>
        <ion-label>Protector solar</ion-label>
        <ion-toggle [checked]="isToggled" (ionChange)="SolarProtNotifications()"></ion-toggle>
      </ion-item>
    
      <ion-item>
        <ion-label>Cuidados personales</ion-label>
        <ion-toggle (ionChange)="CuidadosPersonalesNotifications()"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-button expand= "block" shape="round" color="primary" (click)="openEditProfile()" >Editar Perfil</ion-button>
    <br>
    <ion-button expand="block" class="buttoncolor" fill="outline" (click)="Onlogout()" fill="white" color="dark">Cerrar sesión</ion-button>
  </ion-content>
</ion-app>
